<!-- HOME -->
<div class="profile">
    <picture>
        <img class="img-fluid avatar" src="assets/img/timothy-dykes-LhqLdDPcSV8-unsplash.jpg" alt="Héctor Caballero Photo">
    </picture>
</div>
<div class="typewriter">
    <h1 class="mb-5 text-break">
        alert("Hi, I'm a <strong>Jr. Web Developer.</strong> 👾");
    </h1>
</div>
<hr/>
<h2 class="mb-5">
    My name is Héctor Caballero, nice to meet you. 😀
</h2>
<!-- SKILLS -->
<h3 class="mb-5" id="skills">
    My Skills
</h3>
<div class="row d-flex justify-content-around">
    <!-- ANGULAR -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="angular"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">Angular</p>
            </div>
        </div>
    </div>
    <!-- NODE.JS -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="node"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">Node.js</p>
            </div>
        </div>
    </div>
    <!-- JS -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="javascript"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">Javascript</p>
            </div>
        </div>
    </div>
    <!-- BOOTSTRAP -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="bootstrap"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">Bootstrap</p>
            </div>
        </div>
    </div>
    <!-- PHP -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="php"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">PHP</p>
            </div>
        </div>
    </div>
    <!-- HTML -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="html"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">HTML 5</p>
            </div>
        </div>
    </div>
    <!-- CSS -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <div class="row mb-5">
            <div class="col-12">
                <div id="sass"></div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <br>
                <p class="tecnology">CSS/SASS</p>
            </div>
        </div>
    </div>
</div>
<p class="text-break" style="font-size: 1.2rem;">Other skills: <strong>Typescript, Firebase, MongoDB, MySQL/MariaDB, Java, Oracle DB, Adobe Xd, WordPress, OWASP, JWT.</strong></p>
<!-- PERSONAL PROYECTS -->
<h3 class="mb-5" id="proyects">
    Some personal proyects
</h3>
<div class="row">
    <div class="col-lg-12 col-xl-6">
        <app-proyects [firstColor] = "'rgba(233,97,138,1)'"
                      [secondColor] = "'rgba(78,105,194,0.75)'"
                      [proyectName] = "'Movie database (In development)'"
                      [proyectDesc] = "'Una base de datos de películas, conectada por una API con Angular e integrada con bootstrap'"
                      [proyectImg] = "'assets/img/myke-simon-atsUqIm3wxo-unsplash.jpg'"
        ></app-proyects>
    </div>
    <div class="col-lg-12 col-xl-6">
        <app-proyects [firstColor] = "'rgba(29,185,84,1)'"
                      [secondColor] = "'rgba(25,20,20,0.75)'"
                      [proyectName] = "'Spotify app like (In development)'"
                      [proyectDesc] = "'Spotify clone, connected by an API with Angular and integrated with bootstrap'"
                      [proyectImg] = "'assets/img/sgcdesignco-NIo8Fd-RngE-unsplash.jpg'"
        ></app-proyects>
    </div>
    <div class="col-lg-12 col-xl-6">
        <app-proyects [firstColor] = "'rgba(91,105,163,1)'"
                      [secondColor] = "'rgba(184,166,169,0.75)'"
                      [proyectName] = "'Game Of The Year (In development)'"
                      [proyectDesc] = "'Vote for your favorite games with this app. Using Firebase & Angular'"
                      [proyectImg] = "'assets/img/florian-olivo-Mf23RF8xArY-unsplash.jpg'"
        ></app-proyects>
    </div>
    <div class="col-lg-12 col-xl-6">
        <app-proyects [firstColor] = "'rgba(96,116,67,1)'"
                      [secondColor] = "'rgba(177,203,100,0.75)'"
                      [proyectName] = "'Weather website (In development)'"
                      [proyectDesc] = "'Weather website for see the weather of a determined place'"
                      [proyectImg] = "'assets/img/gavin-allanwood-rObq1WBp_Ew-unsplash.jpg'"
        ></app-proyects>
    </div>
</div>
<!-- ABOUT ME -->
<h3 class="mb-5" id="about">
    About me
</h3>
<div class="row">
    <div class="col-md-12 col-lg-3 d-flex justify-content-center mb-3">
        <picture>
            <img class="shadow img-fluid rounded avatar" style="max-width: 200px; max-height: 200px;" src="assets/img/timothy-dykes-LhqLdDPcSV8-unsplash.jpg" alt="Héctor Caballero Photo">
        </picture>
    </div>
    <div class="col-md-12 col-lg-9">
        <h4>
            A Engineering in Systems & Web Developer Based in Honduras
        </h4>
        <p>
            An enthusiastic for web development and some new tecnologíes in programming, always learning new stuffs.
        </p>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p class="fw-bold">Name: <span>Héctor Caballero</span></p>
                <p class="fw-bold">Adress: <span>Tegucigalpa, Honduras.</span></p>
                <p class="fw-bold">University: <span>UNAH</span></p>
            </div>
            <div class="col-sm-12 col-md-6">
                <p class="fw-bold">Date of birth: <span>August 25, 1996</span></p>
                <p class="fw-bold">Career: <span>Engineering in Systems</span></p>
            </div>
            <div class="col-12">
                <div class="d-grid">
                    <a class="btn btn-orange" type="button" href="assets/pdf/CV EN Héctor Caballero.pdf">Download CV</a>
                </div>
            </div>
        </div>
    </div>
</div>