<h3 id="contact">Get in touch</h3>
<hr>
<form   action="https://formspree.io/f/xbjqjwzv" method="POST">
    <div class="mb-3">
        <label for="inpt_name" class="form-label">Your name</label>
        <input type="text" name="name" class="form-control" id="inpt_name" aria-describedby="your name">
    </div>
    <div class="mb-3">
        <label for="input_email" class="form-label"> Your email address</label>
        <input type="email" name="_replyto" class="form-control" id="input_email" aria-describedby="your email" placeholder="myemail@great.com">
    </div>
    <div class="mb-3">
        <label for="input_message" class="form-label">Write me about any project</label>
        <textarea class="form-control" name="message" id="input_message" rows="3"></textarea>
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
            <div class="d-grid">
                <button class="btn btn-orange" type="submit">Send message</button>
            </div>
        </div>
    </div>
</form>