<!-- HEADER -->
<app-header></app-header>
<header id="home"></header>
<!-- MAIN -->
<main>
  <app-landing-page></app-landing-page>
</main>
<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <!-- Social Networks -->
        <div class="social_networks flex-column justify-content-center">
          <div class="mb-2">
            <a class="btn btn-linkedin" href="https://www.linkedin.com/in/h%C3%A9ctor-caballero-mu%C3%B1oz-10725b144/">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
          <div class="mb-2">
            <a class="btn btn-github" href="https://github.com/TeslaWillow">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-8">
        <app-footer></app-footer>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  <hr>
  <p class="text-center px-5">Made with Angular by Héctor Caballero &copy; 2021</p>
</footer>