<div class="container">
    <div class="row">
        <div class="col-md-1 d-none d-sm-none d-md-block">
        </div>
          <!-- MAIN CONTENT -->
        <div class="central-content col-sm-12 col-md-10">
            <div class="card">
              <div class="card-body">
                <app-content></app-content>
              </div>
            </div>
          </div>
        <div class="col-md-1 d-none d-sm-none d-md-block">
            <!-- UI for back to the TOP -->
          </div>
          <app-scroll-to-top></app-scroll-to-top>
    </div>
</div>