/* You can add global styles to this file, and also import other style files */
:root {
    --black: #000;
    --white: #fff;
    --folio-orange: #FF6F00;
    --folio-blue: #009D91;
}

@font-face {
    font-family: 'OpenSans_Light';
    src: url('./assets/fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'Poppins_Regular';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}

body{
    font-family: 'Poppins_Regular' !important;
}

.progressbar-text{
    text-align: center;
}

.avatar {
    min-width: 200px;
    width: 200px;
    max-width: 200px;
    min-height: 200px;
    height: 200px;
    max-height: 200px;
}


div.social_networks {
    position: sticky;
    margin-bottom: 100px;
}

div.social_networks .btn {
    cursor: pointer;
    margin-bottom: 5px;
}

div.social_networks .btn-linkedin,
div.social_networks .btn-github{
    border-radius: 100%;
    color: white;
    font-size: 1.2rem;
    height: 45px;
    max-height: 45px;
    max-width:  45px;
    min-height: 45px;
    min-width:  45px;
    text-align: center;
    padding: 10px;
    width: 45px;
    z-index: 15;
}

div.social_networks .btn-linkedin{
    background-color: #0077b5;
}

div.social_networks .btn-github{
    background-color: #333;
}